
/* styles for login page */
.login {
    display: flex;
    /* align-items:flex-start; */
    flex-wrap: wrap;
    width: 100vw;
    background-color: #dad7cd;
    height: 100vh;
}
.picture-login {
    height: 100vh;
    width: 50%;
}
.toDoPicture {
    width: 100%;
    height:100%;
    object-fit: cover;
   
}

.login-form{
    /* text-align: left; */
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    width: 80%;
    height: 50%;
    padding-top: 20%;
    

}


/* styles for register page */
.backgroundImg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.register {
    position: relative;
}
.registerForm {
    width: 50%;
    height: 50%;
    padding-top: 20%;
    position: absolute;
    left: 20%;
    top:8%;

}
/* .register-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    background-color: #dad7cd;
    height: 100vh;
   
} */


/* styles for ToDo */
.toDo-title, .toDo-Date {
    background-Color: #7ba097;
    font-size: 2rem;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    border:#dad7cd solid 2px;
    border-radius: 6%;
}

.toDo-Container {
    background-color: #a3b18a;
    height:100vh;
}

.toDo-Date{
    height: 10vh;
}

.toDo-form {
    display: flex;
    margin-bottom: 2rem;

}

.toDo-list {
    display:flex;
    justify-content: center;
    border: solid whitesmoke 1px;
    background-color: #dad7cd;
    width: 75%;
}

ul li{
    display:flex;
}

.toDo-content {
    margin: 5px;
}