/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body {
  margin: 0px;
  
}

/*? Nav Bar */



/*? App */

.movingText {
  background-color: #99c1b9;
  padding-top: 9%;
  padding-bottom: 25%;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  /*below is to cover the movingText div to the whole screen*/
  /* position: absolute;
  top: 7%;
  right:0px;
  bottom: 0px;
  left: 0px; */

  font-size: 45px;
  font-style: italic;
  font-weight: bolder;
  color: white;
  text-align: center;
  vertical-align: middle;
 
}

/*animation text */
.animatedText {
  width: 65%;
  margin: auto;
  border: 4px solid white;
  overflow-x: hidden;
}
.target {
 animation-name: mymove;
 animation-duration: 10s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
}
@keyframes mymove {
  0% {
    transform: translateX(700px);
  }
  100% {
    transform: translateX(-860px);
  }
}




.dogPic {
  width: 15%;
  height:auto;
  margin-top: 15px;
  border-radius: 5%;
}

.quotes {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* height: auto; */
}

.quote-box {
  border: dotted 2.5px greenyellow;
  width: 20vw;
  height: auto;
  margin: 12px;
}
.quoteText {
  font-size: 15px;
}
